!!!xml
!!!
%html
  %head
    %meta{:name => "keywords", :content => "jeremy keene, jeremy, keene, awesome"}
    %meta{:name => "description", :content => "Jeremy Keene is Awesome"}
    %link{:rel => "stylesheet", :href => "/screen.css", :'content-type' => "text/css"} 
    %title Jeremy Keene is Awesome
  %body
    .outer
      %a{:href => "http://twitter.com/awesomejerm", :rel => "no-follow", :title => "Follow Jeremy Keene on Twitter"}
        %img{:src => random_image}
      .inner
        %h1 I'm Jeremy.
        %h2 I'm Awesome.
        %h3 Hi Fanni!